<!DOCTYPE html>
<html>
	<head>
		<title>Person Services</title>
		<script src="json2.js"></script>
		<script src="jquery-1.7.js"></script>
		<script src="underscore.js"></script>
		<script src="backbone.js"></script>
		<script src="backbone-localstorage.js"></script>
		<script src="code.js"></script>
	</head>
	<body>
		Testing github pages with Backbone and Underscore templating!
		<br><br><br><br>
		<script type="text/html" id="template-person">
			<div class='person'>
			<strong><%= name %></strong>
			<span><%= email %></span>
			</div>
		</script>
		<div></div>
	</body>
</html>
